[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BinSegBstrap"]
	path = BinSegBstrap
	url = https://github.com/cran/BinSegBstrap
[submodule "PCpluS"]
	path = PCpluS
	url = https://github.com/cran/PCpluS
[submodule "clampSeg"]
	path = clampSeg
	url = https://github.com/cran/clampSeg
[submodule "crossvalidationCP"]
	path = crossvalidationCP
	url = https://github.com/cran/crossvalidationCP
[submodule "lowpassFilter"]
	path = lowpassFilter
	url = https://github.com/cran/lowpassFilter
[submodule "stepR"]
	path = stepR
	url = https://github.com/cran/stepR
