[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BinSegBstrap"]
	path = BinSegBstrap
	url = https://github.com/cran/BinSegBstrap
[submodule "crossvalidationCP"]
	path = crossvalidationCP
	url = https://github.com/cran/crossvalidationCP
[submodule "lowpassFilter"]
	path = lowpassFilter
	url = https://github.com/cran/lowpassFilter
